################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp/BookStoreApp/bin/Debug/net6.0
/BookStoreApp/BookStoreApp/obj/Debug/net6.0
/BookStoreApp/.vs/BookStoreApp
/First Console App/.vs/First Console App
/First Console App/First Console App/bin/Debug/net6.0
/First Console App/First Console App/obj
